﻿@model List<Acme.BookStore.Slides.Slide>
@{
    Layout = null;
}

<style>

</style>
<div class="header_bottom_right">
    <div class="slider">
        <div id="slider">
            <div id="mover">
                @foreach (var slideshow in Model)
                {
                <div id="slide-1" class="slide">
                    <div class="slider-img">
                        <a href="~/images/@slideshow.Name"><img src="~/images/@slideshow.Name" alt="learn more" /></a>
                    </div>
                    <div class="slider-text">
                        <h1>@slideshow.Title<br><span>SALE</span></h1>
                        <h2>Sale @slideshow.Sale% UpTo </h2>
                        <div class="features_list">
                            <h4>@slideshow.Detail</h4>
                        </div>
                        <a href="preview.html" class="button">Shop Now</a>
                    </div>
                    <div class="clear"></div>
                </div>
                }
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>