﻿
@model Acme.BookStore.Books.Book

@using Acme.BookStore
@{
    ViewData["Title"] = "Details";
}

<head>
    <link href="~/User/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/User/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/User/js/move-top.js"></script>
    <script type="text/javascript" src="~/User/js/easing.js"></script>
    <script src="~/User/js/easyResponsiveTabs.js" type="text/javascript"></script>
    <link href="~/User/css/easy-responsive-tabs.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/User/css/global.css">
    <script src="~/User/js/slides.min.jquery.js"></script>
    <script>
        $(function () {
            $('#products').slides({
                preload: true,
                preloadImage: 'img/loading.gif',
                effect: 'slide, fade',
                crossfade: true,
                slideSpeed: 350,
                fadeSpeed: 500,
                generateNextPrev: true,
                generatePagination: false
            });
        });
    </script>

</head>

<style>
    .header_slide {
        display: none;
    }
    .subscribe, .subscribe input, .subscribe button, .community-poll, .community-poll p, .available, .available option{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .pagination img{
        height:50px;
        width: 80px;
    }
</style>
<div class="main">
    <div class="content">
        <div class="content_top">
            <div class="back-links">
                <p><a href="index.html">Home</a> <i class="fas fa-share"></i> <a href="#">@ViewBag.nameCategory</a></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            <div class="cont-desc span_1_of_2">
                <div class="product-details">
                    <div class="grid images_3_of_2">
                        <div id="container">
                            <div id="products_example">
                                <div id="products">
                                    <div class="slides_container">
                                        @{
                                            var photo = ViewBag.featuredPhoto;
                                            var feturedPhoto = photo == null ? "default.png" : photo;
                                            <a href="~/images/@feturedPhoto" onclick="return false;" target="_blank"><img src="~/images/@feturedPhoto" alt=" " /></a>
                                            } 
                                    </div>
                                    <ul class="pagination">
                                        @{
                                             feturedPhoto = photo == null ? "default.png" : photo;
                                            <li><a href="#"><img src="~/images/@feturedPhoto" alt=" " /></a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="desc span_3_of_2">
                        <h2>@Model.Name</h2>
                        <p>@Model.Name</p>
                        <div class="price">
                            <p>Price: <span>@String.Format("{0:#,###}", Model.Price)$</span></p>
                        </div>
                        
                        <div class="share-desc">
                            <div class="share">
                                <p>Share Product :</p>
                                <ul>
                                    <li><a href="#"><img src="~/User/images/facebook.png" alt="" /></a></li>
                                    <li><a href="#"><img src="~/User/images/twitter.png" alt="" /></a></li>
                                </ul>
                            </div>
                            <div class="button"><span><a asp-controller="cart" asp-action="index">Add to Cart</a></span></div>
                            <div class="clear"></div>
                        </div>
                        <div class="wish-list">
                            <ul>
                                <li class="wish"><a href="#">Add to Wishlist</a></li>
                                <li class="compare"><a href="#">Add to Compare</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="product_desc">
                    <div id="horizontalTab">
                        <ul class="resp-tabs-list">
                            <li>Product Details</li>
                            <li>Product Reviews</li>
                            <div class="clear"></div>
                        </ul>
                        <div class="resp-tabs-container">
                            <div class="product-desc">
                                <p>@Model.Name</p>
                            </div>

                            <div class="review">
                                <h4>Lorem ipsum Review by <a href="#">Finibus Bonorum</a></h4>
                                <ul>
                                    <li>Price :<a href="#"><img src="~/User/images/price-rating.png" alt="" /></a></li>
                                    <li>Value :<a href="#"><img src="~/User/images/value-rating.png" alt="" /></a></li>
                                    <li>Quality :<a href="#"><img src="~/User/images/quality-rating.png" alt="" /></a></li>
                                </ul>
                                <p>@Model.Name</p>
                                <div class="your-review">
                                    <h3>How Do You Rate This Product?</h3>
                                    <p>Write Your Own Review?</p>
                                    <form>
                                        <div>
                                            <span><label>Nickname<span class="red">*</span></label></span>
                                            <span><input type="text" value=""></span>
                                        </div>
                                        <div>
                                            <span><label>Summary of Your Review<span class="red">*</span></label></span>
                                            <span><input type="text" value=""></span>
                                        </div>
                                        <div>
                                            <span><label>Review<span class="red">*</span></label></span>
                                            <span><textarea> </textarea></span>
                                        </div>
                                        <div>
                                            <span><input type="submit" value="SUBMIT REVIEW"></span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#horizontalTab').easyResponsiveTabs({
                            type: 'default', //Types: default, vertical, accordion
                            width: 'auto', //auto or any width like 600px
                            fit: true   // 100% fit in a container
                        });
                    });
                </script>
                <div class="content_bottom">
                    <div class="heading">
                        <h3>Related Products</h3>
                    </div>
                    <div class="see">
                        <p><a href="#">See all Products</a></p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="rightsidebar span_3_of_1">
                @await Component.InvokeAsync("Category")
                <div class="subscribe">
                    <h2>Newsletters Signup</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.......</p>
                    <div class="signup">
                        <form>
                            <input type="text" value="E-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';"><input type="submit" value="Sign up">
                        </form>
                    </div>
                </div>
                <div class="community-poll">
                    <h2>Community POll</h2>
                    <p>What is the main reason for you to purchase products online?</p>
                    <div class="poll">
                        <form>
                            <ul>
                                <li>
                                    <input type="radio" name="vote" class="radio" value="1">
                                    <span class="label"><label><p style="color:#000000">More convenient shipping and delivery</p></label></span>
                                </li>
                                <li>
                                    <input type="radio" name="vote" class="radio" value="2">
                                    <span class="label"><label for="vote_2"><p style="color:#000000">Lower pricep </p></label></span>
                                </li>
                                <li>
                                    <input type="radio" name="vote" class="radio" value="3">
                                    <span class="label"><label for="vote_3"><p style="color:#000000">Bigger choice </p></label></span>
                                </li>
                                <li>
                                    <input type="radio" name="vote" class="radio" value="5">
                                    <span class="label"><label for="vote_5"><p style="color:#000000">Payments security </p></label></span>
                                </li>
                                <li>
                                    <input type="radio" name="vote" class="radio" value="6">
                                    <span class="label"><label for="vote_6"><p style="color:#000000">30-day Money Back Guarantee </p></label></span>
                                </li>
                                <li>
                                    <input type="radio" name="vote" class="radio" value="7">
                                    <span class="label"><label for="vote_7"><p style="color:#000000">Other.</p></label></span>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function removeClass(selector, myClass) {
        // nhận tất cả elements khớp với selector của ta
        elements = document.querySelectorAll(selector);
        // xóa bỏ class khỏi mọi elements đã chọn
        for (var i = 0; i < elements.length; i++) {
            elements[i].classList.remove(myClass);
        }
    }
    // ví dụ sử dụng:
    removeClass('.header_bottom_left', 'header_bottom_left');
</script>